<app-main title="">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly stretch">
          <div class="sec1" fxFlex="33" fxFlex.xs="33">
            <p> The trust of our clients is our main focus. We are accompanying your digital transformation and ensure creating
              value for you</p>
            <img src="../../assets/img/trust.jpg" alt="Trust" />
          </div>
          <div class="sec2" fxFlex="33" fxFlex.xs="33">
            <p> We define architecture and design principles to guide technology decisions for the enterprise</p>
            <img src="../../assets/img/architecture2.jpg" alt="Architecture" />
          </div>
          <div class="sec3" fxFlex="33" fxFlex.xs="33">
            <p> Your journey is our journey. You innovate. We live your successes. Let's shake the market !</p>
            <img src="../../assets/img/innovate.jpg" alt="Innovate" />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z0">
    <mat-card-title>Architecture, culture and process</mat-card-title>
    <mat-card-subtitle>The ultimate goal is to deliver better software faster. Today, that invariably means continuous delivery – for an installed
      product – or continuous deployment for an -aaS product.</mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly stretch">
          <div class="sec1" fxFlex="33" fxFlex.xs="33">
            <p><a href="https://structurizr.com/share/36994#Components" target="_blank">Visualize Your Architecture</a></p>
            <img src="../../assets/img/components.png" alt="Components" />
          </div>
          <div class="sec2" fxFlex="33" fxFlex.xs="33">
            <p><a href="http://idugalic.pro/2017-12-08-bots-are-here/" target="_blank">Bring your development flow into Slack</a></p>
            <div class="grey-content"> See commits, issues, and PRs in Slack, and comment on an issue, merge a PR, or create a release right then and there, without
              breaking your stride.
              <a href="http://idugalic.pro/2017-12-08-bots-are-here/" target="_blank">Read more ...</a>
            </div>
            <img src="../../assets/img/atomist_4.png" alt="Atomist" />
          </div>
          <div class="sec3" fxFlex="33" fxFlex.xs="33">
            <p><a href="http://idugalic.pro/2017-08-09-continuous-delivery-in-the-cloud/" target="_blank">The key pattern introduced in continuous delivery is the deployment pipeline</a></p>
            <div class="grey-content">In the deployment pipeline pattern, every change in version control triggers a process (usually in a CI server)
              which creates deployable packages and runs automated unit tests and other validations such as static code analysis.
              This first step is optimized so that it takes only a few minutes to run. If this initial commit stage fails,
              the problem must be fixed immediately—nobody should check in more work on a broken commit stage.
              <a href="http://idugalic.pro/2017-08-09-continuous-delivery-in-the-cloud/" target="_blank">Read more ...</a>
            </div>
            <img src="../../assets/img/CD.png" alt="Process" />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z0">
    <mat-card-title>Platform As A Service</mat-card-title>
    <mat-card-subtitle>If you look at the concerns typically expressed about microservices, you will find that they are exactly the challenges that a PaaS (Platform As A Service) is intended to address.
    </mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly stretch">
          <div class="sec1" fxFlex="33" fxFlex.xs="33">
            <p>Metrics</p>
            <div class="grey-content">PaaS offerings like Cloud Foundry have raised the level of abstraction to a focus on an ecosystem of applications and services. Cloud Foundry is open source and it can be deployed on private or public (IaaS) infrastructure.
              Pivotal Cloud Foundry Metrics helps you understand and troubleshoot the health and performance of your apps.
            </div>
            <img src="../../assets/img/CF_02.png" alt="Cloud Foundry" />
          </div>
          <div class="sec2" fxFlex="33" fxFlex.xs="33">
            <p>Elastic</p>
            <div class="grey-content">
              <div>The system stays responsive under varying workload. Reactive Systems can react to changes in the input rate by increasing or decreasing the resources allocated to service these inputs. This implies designs that have no contention points or central bottlenecks, resulting in the ability to shard or replicate components and distribute inputs among them.
              </div>
              App Autoscaler is a marketplace service that ensures app performance and helps control the cost of running apps.

              To balance app performance and cost, Space Developers and Space Managers can use App Autoscaler to do the following:
              <ul>
                <li>Configure rules that adjust instance counts based on metrics thresholds such as CPU Usage</li>
                <li>Modify the maximum and minimum number of instances for an app, either manually or following a schedule</li>
              </ul>
            </div>
          </div>
          <div class="sec3" fxFlex="33" fxFlex.xs="33">
            <p>Blue-Green Deployment</p>
            <div class="grey-content">Release technique that reduces downtime and risk by running two identical production environments called Blue and Green.
              As you prepare a new release of your software, deployment and the final stage of testing takes place in the environment
              that is not live: in this example, Green. Once you have deployed and fully tested the software in Green, you switch
              the router so all incoming requests now go to Green instead of Blue. Green is now live, and Blue is idle.
            </div>
            <img src="../../assets/img/cloudfoundry.png" alt="Cloud Foundry Blue Green" />
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z0">
    <mat-card-title>Atomic design</mat-card-title>
    <mat-card-subtitle>"A style guide is an artifact of design process. A design system is a living, funded product with a roadmap & backlog,
      serving an ecosystem."
      <p>- Nathan Curtis</p>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly stretch">
          <div class="sec1" fxFlex="50" fxFlex.xs="50">
            <p>Design System</p>
            <div class="grey-content">To set ourselves up for long-term success, we must fundamentally shift our outlook around what we’re actually
              creating. Rather than thinking of final applications as our sole responsibility, we must recognize that the
              design system is what underpins our final products and pattern libraries.</div>
            <img src="../../assets/img/workflow-system-first.png" alt="Atomic design" />
          </div>
          <div class="sec2" fxFlex="50" fxFlex.xs="50">
            <p><a href="http://lab.idugalic.pro/my-company-angular-fe/" target="_blank">Feature Components vs Presentational Components</a></p>
            <div class="grey-content">A Feature component is a top level component that contains all other components in our feature. This commonly
              is a routed component in Angular. Presentational Components behave like pure functions taking in the data via
              @Input and emitting data via @Output.
              <a href="http://lab.idugalic.pro/my-company-angular-fe/" target="_blank">Read more ...</a>
            </div>
            <img src="../../assets/img/MyCompanyFE-Home.png" alt="featureVsPresentation" />
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z0">
    <mat-card-title><a href="https://docs.lab.idugalic.pro/" target="_blank">Accelerating the digitization</a></mat-card-title>
    <mat-card-subtitle>
      For some executives, digital is a new way of engaging with customers. For others, it’s about technology. It’s tempting to
      look for simple definitions, but to be meaningful and sustainable, We believe that digital should be seen less as a
      thing and more a way of doing things. To help make this definition more concrete, we have broken it down into three
      attributes:
      <ul>
        <li>creating value at the new frontiers of the business world,</li>
        <li>creating value in the processes that execute a vision of customer experiences,</li>
        <li>and building foundational capabilities that support the entire structure.</li>
      </ul>
      The main focus is on the third part of the definition - "building foundational capabilities that
      support the entire structure". <a href="https://docs.lab.idugalic.pro/" target="_blank">Read more ...</a>
    </mat-card-subtitle>
  </mat-card>
</app-main>
