.sec1, .sec2, .sec3 {
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:center;
}
img {
    width: 100%;
    height: auto;
}
p {
    min-height: 60px;
    text-transform: uppercase;

}
.grey-content{
    color:grey;
    text-align:justify
}

